label, p, li, legend {
  font-family: Georgia,Times,Times New Roman,serif; 
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.comments {
  width: 90%;
}
.line {
  margin-right: 25px;
  margin-left: 25px;
  height: 1px;
  color: #333333;
  background-color: #333333;
  border: none;
}
body {
  background-image: url(/house-bk.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #EBE9DC;
  background-position: top;
  color: #333333;
}
@media (max-width:870px) {
  body {
    background-image: url(/house-bk.jpg);
    background-repeat: no-repeat;
    background-size: 870px auto;
    background-color: #EBE9DC;
    background-position: top;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}
.headline {
  text-shadow: 1px 1px 5px rgba(255,255,255,0.8);
  margin-top: 5px;
  margin-bottom: 10px;
}
.subhead {
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(255,255,255,0.8);
}
.daycard {
  background-color: rgba(255,255,255,0.6);
  margin: 10px 10px 10px;
  padding: 15px 5px 5px;
  border-radius: 10px;
}
.daycard-title {
  margin-top: 0px;
  margin-bottom: 5px;
}
.list-line {
  margin-right: 25px;
  margin-left: 25px;
  height: 3px;
  color: #333333;
  background-color: #333333;
  border: none;
}
.RSVPcard {
  background-color: rgba(255,255,255,0.6);
  margin: 10px 10px;
  padding: 5px 15px;
  border-radius: 10px;
}
.RSVPinput {
  width: 90% !important;
  margin: 5px;
}
.RSVPshell {
  margin: 0px 10px;
}
.RSVPinputbox {
  margin-bottom: 15px;
}
label {
  font-size: 14px;
}
fieldset {
  border: 1px solid #ccc;
}
legend {
  border: 1px solid #ccc;
}
.RSVPinstr {
  font-size: 20px;
  margin-top: 0px;
}
.RSVPbtn {
  padding: 18px 22px 18px;
  font-size: 18px;
}
.already, .again {
  padding: 3px 4px 4px;
}
.flip {
  padding: 15px;
}
.slim {
  margin: 0px;
}
.slimbot {
  margin-top: 5px;
  margin-bottom: 0px;
}